<div class="footer center-column">
    <div class="icons">
        <a href="https://www.linkedin.com/in/harsh-sharma-b85334208/" target="_blank"><i
                class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="https://www.instagram.com/harshsharmaasl/" target="_blank"><i
                class="fa-brands fa-instagram fa-2xl"></i></a>
        <a href="https://www.hackerrank.com/harshsharmaasl" target="_blank"><i
                class="fa-brands fa-hackerrank fa-2xl"></i></a>
        <a href="https://github.com/HarshSharmaIN" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
    </div>
    <p class="blue">Copyright &copy; Harsh Sharma <span id="crntyear"></span></p>
</div>
<script src="script/index.js"></script>
<script src="https://kit.fontawesome.com/1feb8c7a0a.js" crossorigin="anonymous"></script>
</body>

</html>