<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh's Portfolio</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oxygen&family=Sacramento&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- navbar -->
    <nav class="nav center-row stickyresp" id="nav">
        <img src="assets/logo.png" alt="Harsh" srcset="" class="logo" id="logo">
        <div class="links hiddenResp" id="links">
            <a href="/">Home</a>
            <a href="/#discover-main">About</a>
            <a href="/services">Services</a>
            <a href="/contactus">Contact</a>
            <a href="/mart">Mart</a>
            <a href="/cart">Cart</a>
        </div>
        <div class="hamburger" id="hamburger">
            <div class="iconham"></div>
            <div class="iconham"></div>
            <div class="iconham"></div>
        </div>
    </nav>