<%- include('partials/header') %>
<div class="mart text-center">
        <h1 class="blue font-600">Our Top Pick's</h1>
        <hr>
        <div class="cardbase">
            <div class="card1-inner">
                <div class="card1 center-column text-center">
                    <img src="assets/tee1.jpg" alt="">
                    <h2 class="grey">Red Tee</h2>
                    <hr>
                    <p>Free Size</p>
                    <p>₹299.0</p>
                </div>
                <div class="card1-back center-column text-center">
                    <form action="/mart" method="post">
                        <h2 class="grey" name="teename">Red Tee</h2>
                        <hr>
                        <p>Tees are one of the most preferred clothing items for men looking for a quick makeover while
                            ensuring
                            comfort for any event or occasion.</p>
                        <button class="card-button" type="submit" name="teename" value="redtee">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="card2-inner">
                <div class="card2 center-column text-center">
                    <img src="assets/tee2.jpg" alt="">
                    <h2 class="grey">Black Tee</h2>
                    <hr>
                    <p>Free Size</p>
                    <p>₹299.0</p>
                </div>
                <div class="card2-back center-column text-center">
                    <form action="/mart" method="post">
                        <h2 class="grey">Black Tee</h2>
                        <hr>
                        <p class="text-center">Tees are one of the most preferred clothing items for men looking for a
                            quick
                            makeover while ensuring comfort for any event or occasion.</p>
                        <button class="card-button" type="submit" name="teename" value="blacktee">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="card3-inner">
                <div class="card3 center-column text-center">
                    <img src="assets/tee3.jpg" alt="">
                    <h2 class="grey">White Tee</h2>
                    <hr>
                    <p>Free Size</p>
                    <p>₹299.0</p>
                </div>
                <div class="card3-back center-column text-center">
                    <form action="/mart" method="post">
                        <h2 class="grey" name="teename">White Tee</h2>
                        <hr>
                        <p class="text-center">Tees are one of the most preferred clothing items for men looking for a
                            quick
                            makeover while ensuring comfort for any event or occasion.</p>
                        <button class="card-button" name="teename" value="whitetee">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="card3-inner">
                <div class="card3 center-column text-center">
                    <img src="assets/tee4.jpg" alt="">
                    <h2 class="grey">Blue Tee</h2>
                    <hr>
                    <p>Free Size</p>
                    <p>₹299.0</p>
                </div>
                <div class="card3-back center-column text-center">
                    <form action="/mart" method="post">
                        <h2 class="grey" name="teename">Blue Tee</h2>
                        <hr>
                        <p class="text-center">Tees are one of the most preferred clothing items for men looking for a
                            quick
                            makeover while ensuring comfort for any event or occasion.</p>
                        <button class="card-button" name="teename" value="bluetee">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>