<div class="merchandise center-column text-center">
    <h1 class="blue">Have a look at our merchandise</h1>
    <hr>
    <div class="tees">
        <div>
            <img class="tee" src="assets/tee1.jpg" alt="">
            <p class="grey">Red Tee</p>
        </div>
        <div>
            <img class="tee" src="assets/tee2.jpg" alt="">
            <p class="grey">Black Tee</p>
        </div>
        <div>
            <img class="tee" src="assets/tee3.jpg" alt="">
            <p class="grey">White Tee</p>
        </div>
        <div>
            <img class="tee" src="assets/tee4.jpg" alt="">
            <p class="grey">Blue Tee</p>
        </div>
    </div>
    <a class="merch-btn" href="/mart">Continue Shopping ></a>
</div>