<div class="projects">
    <h1 class="blue">Delivered Projects</h1>
    <p class="grey">Listed below are some of the most representative projects I've worked on. They range from basic web
        design for presentation sites to advanced web development for online banks.</p>
    <div class="project center-column">
        <div class="imgzoom">
            <a href="https://onlinebank.glitch.me" target="_blank"><img src="assets/onlinebank.png" alt=""
                    class="uc"></a>
        </div>
        <p class="blue">Our online banking system provides you to register your bank account, add money, send money.</p>
    </div>
    <div class="project center-column">
        <div class="imgzoom">
            <a href="https://webcalculatorharsh.web.app/" target="_blank"><img src="assets/calculator.png" alt=""
                    class="ttt"></a>
        </div>
        <p class="blue">A Calculator web app designed for a quick calculations in a short time.</p>
    </div>
    <div class="project center-column">
        <div class="imgzoom">
            <a href="https://todolistharsh.glitch.me/" target="_blank"><img src="assets/todolist.png" alt=""
                    class="tab"></a>
        </div>
        <p class="blue">Forgot the agenda of today? No worry To Do list web app is here to help.</p>
    </div>
</div>