<%- include('partials/header') %>

<div class="services center-column">
    <div class="services-top center-column">
        <h1 class="blue text-center">Offered Services</h1>
        <hr>
        <p class="text-center">Web design and development have been my bread and butter for more than 1 year. During
            that time I've discovered that I can help startups and companies with the following services</p>
    </div>
    <div class="cardbase">
        <div class="card1-inner">
            <div class="card1 center-column text-center">
                <img src="assets/gem.png" alt="">
                <h2 class="grey">DESIGN</h2>
                <hr>
                <p>Successful online projects start with good design. It establishes a solid foundation for future
                    development and allows for long term growth</p>
            </div>
            <div class="card1-back center-column text-center">
                <img src="assets/bank.png" alt="">
                <hr>
                <h2 class="grey">Online Bank</h2>
                <a href="https://onlinebank.glitch.me" target="_blank"><button class="card-button">Go to</button></a>
            </div>
        </div>
        <div class="card2-inner">
            <div class="card2 center-column text-center">
                <img src="assets/coding.png" alt="">
                <h2 class="grey">DEVELOPMENT</h2>
                <hr>
                <p>I can code my own designs or even use the customer's design as base. My focus is to generate clean
                    code that's well structured for reliability</p>
            </div>
            <div class="card2-back center-column text-center">
                <img src="assets/calclogo.png" alt="">
                <hr>
                <h2 class="grey">Calculator</h2>
                <a href="https://webcalculatorharsh.web.app/" target="_blank"><button class="card-button">Go
                        to</button></a>
            </div>
        </div>
        <div class="card3-inner">
            <div class="card3 center-column text-center">
                <img src="assets/monitor.png" alt="">
                <h2 class="grey">PROGRAMMING</h2>
                <hr>
                <p>I can Code in different Programming languages. My focus is to generate clean code that's well
                    structured for reliability.</p>
            </div>
            <div class="card3-back center-column text-center">
                <img src="assets/todologo.png" alt="">
                <hr>
                <h2 class="grey">To Do List</h2>
                <a href="https://todolistharsh.glitch.me/" target="_blank"><button class="card-button font-600">Go
                        to</button></a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>